tallyform feedback workflow .json
{
  "name": "typeform feedback workflow",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.usefulness }}",
              "operation": "largerEqual",
              "value2": 3
            }
          ],
          "string": [],
          "boolean": []
        }
      },
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "position": [
        -16,
        -16
      ],
      "notesInFlow": true,
      "typeVersion": 1,
      "id": "b7527deb-a1ba-404e-b6cd-665f72025b83",
      "notes": "filter feedback"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "number": [
            {
              "name": "usefulness",
              "value": "={{$json[\"question_5kGREd\"][\"value\"]}}"
            }
          ],
          "string": [
            {
              "name": "opinion",
              "value": "={{$json[\"question_dADrQA\"][\"value\"]}}"
            },
            {
              "name": "email",
              "value": "={{$json[\"question_YOM8Vd\"][\"value\"]}}"
            }
          ],
          "boolean": []
        },
        "options": {}
      },
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "position": [
        -208,
        -32
      ],
      "notesInFlow": true,
      "typeVersion": 1,
      "id": "cbf4596b-ef3f-497f-812e-1c97c596ae97",
      "notes": "capture typeform data"
    },
    {
      "parameters": {
        "formId": "Zjz9ro"
      },
      "type": "n8n-nodes-tallyforms.tallyTrigger",
      "typeVersion": 2,
      "position": [
        -448,
        -32
      ],
      "id": "0b77fc23-11fc-4c82-82d4-d642d2303494",
      "name": "Tally Trigger",
      "webhookId": "9c427714-2f50-4b5e-ae72-b393570eec03",
      "credentials": {
        "tallyApi": {
          "id": "IlGermKHL17bXOpR",
          "name": "Tally account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1-jeZ_GVni3QO4gPL0BqE0a-GpAzq_QA_J1Vzszektc0",
          "mode": "list",
          "cachedResultName": "my first form submission",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-jeZ_GVni3QO4gPL0BqE0a-GpAzq_QA_J1Vzszektc0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1960503270,
          "mode": "list",
          "cachedResultName": "sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-jeZ_GVni3QO4gPL0BqE0a-GpAzq_QA_J1Vzszektc0/edit#gid=1960503270"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "usefulness",
              "displayName": "usefulness",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "opinion",
              "displayName": "opinion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        192,
        -112
      ],
      "id": "2e2de290-f9d5-415b-a6ed-9cddcfd6c821",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Q6aYw5vZY48Qih14",
          "name": "tally form sheet"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1-jeZ_GVni3QO4gPL0BqE0a-GpAzq_QA_J1Vzszektc0",
          "mode": "list",
          "cachedResultName": "my first form submission",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-jeZ_GVni3QO4gPL0BqE0a-GpAzq_QA_J1Vzszektc0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1369162779,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-jeZ_GVni3QO4gPL0BqE0a-GpAzq_QA_J1Vzszektc0/edit#gid=1369162779"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "usefulness",
              "displayName": "usefulness",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "opinion",
              "displayName": "opinion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        128
      ],
      "id": "b616a085-089e-47f6-acb2-f94de5c0e1bc",
      "name": "Append or update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Q6aYw5vZY48Qih14",
          "name": "tally form sheet"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "IF": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tally Trigger": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "9cae7669-ddc0-4712-9aa5-7cc2df5ea78e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "50560328c112303800857c06f5cb01cc0ce6bd8398d8cd99ea54dacc75b860c9"
  },
  "id": "PDEolYANRMtIaitZ",
  "tags": []
}